<div class="authincation h-100" style="margin-top: 10%;">
    <div class="container h-100">
        <div class="row justify-content-center h-100 align-items-center">
            <div class="col-md-5">
                <div class="form-input-content text-center error-page">
                    <!-- <h1 class="error-text  font-weight-bold">Suspendido</h1> -->
                    <h4><i class="fa fa-times-circle text-danger"></i> </h4>
                    <p>Estimado cliente, suel acceso a su cuenta se encuentra suspendido, por favor comuníquese con distribuidor(a) y solicite le sea restablecido.</p>
                    <div>
                        <a class="btn btn-primary btn-xs" routerLink="../login">Ir a Inicio de sessión</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>